body {
   font: 14px arial, sans-serif;
}

h1 {
   font: 16px arial, sans-serif;
   font-weight: bold;
   padding: 1px;
}

h2 {
   font: 15px arial, sans-serif;
   font-weight: bold;
}

h3 {
   font: 14px arial, sans-serif;
   font-weight: bold;
}

h4 {
   font: 14px arial, sans-serif;
   font-weight: bold;
}

.MainBox{
  width: 100%;
  margin-top: 20px;
  padding: 0;
  border-collapse: collapse;
  border: solid 1px #C7C6E1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Content {
  margin: 0.5em;
}

ul.MultipleValues {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*============ PANEL ==========*/

div.Navigation {
  min-height: 1.5em;
}
div.Navigation div.Pager {
  display: inline-block;
  float: right;
}

ul.Breadcrumbs {
  margin: 0;
  padding: 0;
  line-height: normal;
}
ul.Breadcrumbs > li {
  list-style: none;
  display: inline;
}
ul.Breadcrumbs > li::before {
  content: '/ ';
}
ul.Breadcrumbs > li:first-of-type::before {
  content: '';
}
ul.Breadcrumbs > li > a {
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
ul.Breadcrumbs > li > a:hover,
ul.Breadcrumbs > li > a:active {
  text-decoration: underline;
}

.Panel{
  background: #DEE7F7;
  margin: 0px;
  padding: 7px 14px;
  line-height: 1.5em;
}
.SubPanel {
  margin: 0px 14px;
}

.Panel form{
  display: inline;
}

.Panel select{
  background: #DEE7F7;
  font-family: inherit;
  border: solid 1px #C7C6E1;
}

.PanelH1{
  color: #5E5E5E;
  font-family: "Courier New", Courir, monospace;
  font-size: 1.25em;
  font-weight: bolder;
  text-transform: uppercase;
  margin-left: 15px;
}

/*============ BUTTONS =========*/

.LinkButton{
  border: solid 1px #C7C6E1;
  border-radius: 4px;
  padding: 1px 8px 4px;
  height: 40px;
  color: #5E5E5E;
  cursor: hand;
  text-decoration: none;
}

.LinkButton:hover{
  background: #BFCFDB;
}
.LinkButton:active{
  background: #8FA8BC;
}

a {
  color: #61819B;
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}

#page_index ul li {
  margin: 0.5em 0;
}
#page_index ul li a {
  font-weight: bold;
}

/*=========== TABLE ===========*/

.TableLink{
  color: #61819B;
  text-decoration: none;
}
.TableLink:hover{
  background: #91C3AF;
}
.TableLink:active{
  background: #62A489;
}

table.table {
  border: solid 2px #C7C6E1;
  border-collapse: collapse;
  width: 100%;
}

th.table,
table.table th{
  border: solid 2px #C7C6E1;
  color: #5E5E5E;
  background: #DEE7F7; 
  padding: 2px;
}
table.table th a.table_link {
  color: #5E5E5E;
}

td.table,
table.table td{
  border: solid 2px #C7C6E1;
  color: #5E5E5E;
  padding: 2px;
}
table.table ul {
}

tr.group,
th.group,
td.group{
  background: #FF0000;
}

tr.odd,
th.odd,
td.odd{
  background: #C0DFD3;
}

tr.even,
th.even,
td.even{
  background: #E8F4EF;
}

pre.view_json {
  margin-left: 15px;
  margin-right: 15px;
  border: solid 1px #C7C6E1;
  background-color: #E8EEF3;
  color: #5E5E5E;
  padding: 2px;
}

/* Pager */
span.pager_gear {
  position: relative;
  color: #5E5E5E;
  cursor: pointer;
}
form.pager_options {
  position: absolute;
  white-space: nowrap;
  left: 0px;
  top: 1em;
  background: white;
  background: #E8EEF3;
  border: solid 1px #C7C6E1;
}

/*=========== FILTER, TABLE_FIELDS ===========*/
#Filter,
#Table_Fields {
  margin-left: 15px;
  margin-right: 15px;
}
.hidden {
  display: none;
}
.LinkButton.active {
  background: #5E5E5E;
  color: #E8EEF3;
}

/* PRINT LAYOUT */
@media print {
  .__links,
  .Panel {
    display: none;
  }
}

#page_login {
  margin-top: 5em;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px black;
  padding: 7px 14px 14px;
}
