<div class='MainBox'>

  <div class='Panel'>
    <div class='Navigation'>
      <ul class='Breadcrumbs'>
         <li><a href='?' title='Ctrl+h' mousetrap='ctrl+h'>{{ app.title }}</a></li>
         <li><a href='{{ page_url({ 'page': 'admin' }) }}'>Configuration</a></li>
         <li><a href='{{ page_url({ "page": "admin_general" }) }}'>General settings</a></li>
      </ul>
    </div>
    &nbsp;
  </div>

  <div class='Margin'>

  <form method='post'>
    <div class='Margin'>	  
      {{ form|show }}
      <input type='submit' value='Save'>
	<input type='text' name='message' placeholder='commit message'>
    </div>
  </form>

  </div>

  <div class='Panel'>
    <div class='Navigation'>
      <ul class='Breadcrumbs'>
         <li><a href='?' title='Ctrl+h' mousetrap='ctrl+h'>{{ app.title }}</a></li>
         <li><a href='{{ page_url({ 'page': 'admin' }) }}'>Configuration</a></li>
         <li><a href='{{ page_url({ "page": "admin_general" }) }}'>General settings</a></li>
      </ul>
    </div>
    &nbsp;
  </div>

</div>
