<div class='MainBox'>

  <div class='Panel'>
    <a class='LinkButton' href='{{ page_url({ "page": "admin"}) }}'>Settings</a>
    <a class='LinkButton' href='{{ page_url({ "page": "admin_table", "table": table }) }}'>Table</a>
  </div>

  <div class='Content'>

  <h1> Table view: {{table}} </h1>

  <form method='post'>
    <div class='Margin'>
      {{ form|show }}
      <input type='submit' value='Save'>
	<input type='text' name='message' placeholder='commit message'>
    </div>
  </form>

  <hr>
  Example replacement patterns:
  {{ replacement_patterns|show }}

  </div>

  <div class='Panel'>
    <a class='LinkButton' href='{{ page_url({ "page": "admin"}) }}'>Settings</a>
    <a class='LinkButton' href='{{ page_url({ "page": "admin_table", "table": table }) }}'>Table</a>
  </div>

</div>
