
<div class='MainBox'>

  <div class='Panel'> 
      <a class='LinkButton' href='{{ page_url({ "page": "index"}) }}'>Home</a> 
  </div>

  <div class='Margin'>

      <h2> Settings </h2>

      <h3> Tables </h3>
      <ul>
      {% for table in data.tables %}
      <li>
      <strong>{{ table.name|default(table.id) }}</strong>
      <a class='LinkButton' href='{{ page_url({ 'page': 'admin_table', 'table':table.id }) }}'>Edit</a>
      </li></br>
      {% endfor %}
      </ul>

  </div>

  <div class='Panel'>
      <a class='LinkButton' href='{{ page_url({ 'page': 'admin_table_general' }) }}'>Create new table</a>
      <a class='LinkButton' href='{{ page_url({ 'page': 'import_csv' }) }}'>Create new table from CSV</a>
      <a class='LinkButton' href='{{ page_url({ 'page': 'import_export' }) }}'>Import &amp; Export</a>
  </div>


</div>
