<div class='MainBox'>

  <div class='Panel'>
    <div class='Navigation'>
      <ul class='Breadcrumbs'>
         <li><a href='?' title='Ctrl+h' mousetrap='ctrl+h'>{{ app.title }}</a></li>
         <li><a href='{{ page_url({ 'page': 'admin' }) }}'>Configuration</a>
         <li><a href='{{ page_url({ 'page': 'admin_table', 'table': table }) }}'>{{ data.name }}</a>
         <li><a href='{{ page_url({ 'page': 'admin_table_views', 'table': table, 'view': view_data.title }) }}'>View '{{ view_data.title }}'</a>
      </ul>
    </div>
    &nbsp;
  </div>

  <div class='Content'>

  <form method='post'>
      {{ form|show }}
      <input type='submit' value='Save'>
      <input type='submit' name='remove' value='Remove'>
      <input type='text' name='message' placeholder='commit message'>
  </form>

  <hr>
  Example replacement patterns:
  {{ replacement_patterns|show }}

  </div>

  <div class='Panel'>
    <div class='Navigation'>
      <ul class='Breadcrumbs'>
         <li><a href='?' title='Ctrl+h' mousetrap='ctrl+h'>{{ app.title }}</a></li>
         <li><a href='{{ page_url({ 'page': 'admin' }) }}'>Configuration</a>
         <li><a href='{{ page_url({ 'page': 'admin_table', 'table': table }) }}'>{{ data.name }}</a>
         <li><a href='{{ page_url({ 'page': 'admin_table_views', 'table': table, 'view': view_data.title }) }}'>View '{{ view_data.title }}'</a>
      </ul>
    </div>
    &nbsp;
  </div>

</div>
