
<div class='MainBox'>

  <div class='Panel'>
    <div class='Navigation'>
      <ul class='Breadcrumbs'>
         <li><a href='?' title='Ctrl+h' mousetrap='ctrl+h'>{{ app.title }}</a></li>
         <li><a href='{{ page_url({ 'page': 'admin' }) }}'>Configuration</a>
      </ul>
    </div>
    <div>
      <a class='LinkButton' href='{{ page_url({ 'page': 'admin_table_general' }) }}'>Create new table</a>
      <a class='LinkButton' href='{{ page_url({ 'page': 'import_csv' }) }}'>Create new table from CSV</a>
      <a class='LinkButton' href='{{ page_url({ 'page': 'import_export' }) }}'>Import &amp; Export</a>
    </div>
  </div>

  <div class='Margin'>

      <h3> General </h3>
      <a class='LinkButton' href='{{ page_url({ 'page': 'admin_general' }) }}'>General settings</a>

      <h3> Tables </h3>
      <ul>
      {% for table in data.tables %}
      <li>
      <strong>{{ table.name|default(table.id) }}</strong>
      <a class='LinkButton' href='{{ page_url({ 'page': 'admin_table', 'table':table.id }) }}'>Edit</a>
      </li></br>
      {% endfor %}
      </ul>

  </div>

  <div class='Panel'>
    <div class='Navigation'>
      <ul class='Breadcrumbs'>
         <li><a href='?' title='Ctrl+h' mousetrap='ctrl+h'>{{ app.title }}</a></li>
         <li><a href='{{ page_url({ 'page': 'admin' }) }}'>Configuration</a>
      </ul>
    </div>
    <div>
      <a class='LinkButton' href='{{ page_url({ 'page': 'admin_table_general' }) }}'>Create new table</a>
      <a class='LinkButton' href='{{ page_url({ 'page': 'import_csv' }) }}'>Create new table from CSV</a>
      <a class='LinkButton' href='{{ page_url({ 'page': 'import_export' }) }}'>Import &amp; Export</a>
    </div>
  </div>

</div>
