<div class='MainBox'>

  <div class='Panel'>
    <a class='LinkButton' href='{{ page_url({ "page": "admin"}) }}'>Admin Page</a>
    <a class='LinkButton' href='{{ page_url({ "page": "admin_table", "table": table }) }}'>Table</a>
  </div>

  <div class='Margin'>

  <h1> General settings of table: {{table}}</h1>

  <form method='post'>
    <div class='Margin'>	  
      {{ form|show }}
      <input type='submit' value='Save'>
	<input type='text' name='message' placeholder='commit message'>
    </div>
  </form>

<h3>Use the following values to specify access:</h3>
<dl>
  <dt>empty value</dt><dd>everybody has access</dd>
  <dt>"*"</dt><dd>need to be logged in</dd>
  <dt>"user1@domain;user2@domain"</dt><dd>only the specified user(s) have access</dd>
  <dt>"&amp;group@domain"</dt><dd>only users which are group members have access</dd>
</ul>
  </div>

  <div class='Panel'>
    <a class='LinkButton' href='{{ page_url({ "page": "admin"}) }}'>Admin Page</a>
    <a class='LinkButton' href='{{ page_url({ "page": "admin_table", "table": table }) }}'>Table</a>
  </div>

</div>
