<div class='MainBox'>

  <div class='Panel'>
    <div class='Navigation'>
      <ul class='Breadcrumbs'>
         <li><a href='?' title='Ctrl+h' mousetrap='ctrl+h'>{{ app.title }}</a></li>
         <li><a href='{{ page_url({ 'page': 'admin' }) }}'>Configuration</a>
         <li><a href='{{ page_url({ 'page': 'admin_table', 'table': table }) }}'>{{ data.name }}</a>
         <li><a href='{{ page_url({ 'page': 'admin_table_general', 'table': table }) }}'>General settings</a>
      </ul>
    </div>
    &nbsp;
  </div>

  <div class='Content'>

  <form method='post'>
    <div class='Margin'>	  
      {{ form|show }}
      <input type='submit' value='Save'>
	<input type='text' name='message' placeholder='commit message'>
    </div>
  </form>

<h3>Use the following values to specify access:</h3>
<dl>
  <dt>empty value</dt>
  <dd>everybody has access</dd>

  <dt>"*"</dt>
  <dd>need to be logged in</dd>

  <dt>"user1@domain;user2@domain"</dt>
  <dd>only the specified user(s) have access</dd>

  <dt>"&amp;group@domain"</dt>
  <dd>only users which are group members have access</dd>

  <dt>"group"</dt>
  <dd>access is allowed for members of the group 'group', which is defined within the <tt>$auth_config</tt> in <tt>conf.php</tt>.</dd>
</dl>

  </div>

  <div class='Panel'>
    <div class='Navigation'>
      <ul class='Breadcrumbs'>
         <li><a href='?' title='Ctrl+h' mousetrap='ctrl+h'>{{ app.title }}</a></li>
         <li><a href='{{ page_url({ 'page': 'admin' }) }}'>Configuration</a>
         <li><a href='{{ page_url({ 'page': 'admin_table', 'table': table }) }}'>{{ data.name }}</a>
         <li><a href='{{ page_url({ 'page': 'admin_table_general', 'table': table }) }}'>General settings</a>
      </ul>
    </div>
    &nbsp;
  </div>

</div>
