<div class='MainBox'>

  <div class='Panel'>
    <div class='Navigation'>
      <ul class='Breadcrumbs'>
         <li><a href='?' title='Ctrl+h' mousetrap='ctrl+h'>{{ app.title }}</a></li>
         <li><a href='{{ page_url({ 'page': 'admin' }) }}'>Configuration</a>
         <li><a href='{{ page_url({ 'page': 'admin_table', 'table': table }) }}'>{{ data.name }}</a>
      </ul>
    </div>
    &nbsp;
  </div>

  <div class='Content'>

  <h4>General Settings</h4>
      <ul>
	  <li>ID: {{ data.id }}</li>
      </ul>

    <div class='SubPanel'>
	<a class='LinkButton' href='{{ page_url({ "page": "admin_table_general", "table": table }) }}'>Edit general settings</a>
    </div>

  <h4>Fields</h4>
    <ul>
    {% for k, v in data.fields %}
    <li>{{ v.name }} ({{ k }})</li>
    {% endfor %}
    </ul>

    <div class='SubPanel'>
	<a class='LinkButton' href='{{ page_url({ "page": "admin_table_fields", "table": table }) }}'>Edit Fields</a>
    </div>

  <h4>Views</h4>
    <ul>
    {% for k, v in views %}
      <li>{{ v.title }} <a class='LinkButton' href='{{ page_url({ "page": "admin_table_views", "table": table, "view": k }) }}'>Edit</a></li>
    {% endfor %}
    </ul>

    <div class='SubPanel'>
	<a class='LinkButton' href='{{ page_url({ "page": "admin_table_views", "table": table }) }}'>New view</a>
    </div>

  <h4>Actions</h4>
    <div class='SubPanel'>
	<a class='LinkButton' href='{{ page_url({ "page": "admin_table", "table": table, "action": "drop" }) }}'>Drop Table</a>
    </div>


  </div>

  <div class='Panel'>
    <div class='Navigation'>
      <ul class='Breadcrumbs'>
         <li><a href='?' title='Ctrl+h' mousetrap='ctrl+h'>{{ app.title }}</a></li>
         <li><a href='{{ page_url({ 'page': 'admin' }) }}'>Configuration</a>
         <li><a href='{{ page_url({ 'page': 'admin_table', 'table': table }) }}'>{{ data.name }}</a>
      </ul>
    </div>
    &nbsp;
  </div>

</div>
