<div class='MainBox'>
  <div class=Panel>
    <div class=PanelH1>
	Table: {{table}} / Row: {{id}}
    </div>
  </div>
	
  <form method='post'>
    <div class='Margin'>
    {{ form|show() }}
    <input type='submit' value='Save'>
    </div>
  </form>

  {% if id %}
  </br>
  <a class='LinkButton' href='{{ page_url({ "page": "show", "table": table,
	  "id": id }) }}'>Back</a>
  </br>
  {% else %}
  </br>
  <a class='LinkButton' href='{{ page_url({ "page": "list", "table": table })
	  }}'>Back</a>
  </br>
  {% endif %}
  </br>
</div>
