<div class='MainBox'>
{% include 'jump_links.html' %}

  <div class='Panel'>
    <div class='Navigation'>
      <ul class='Breadcrumbs'>
         <li><a href='?' title='Ctrl+h' mousetrap='ctrl+h'>{{ app.title }}</a></li>
         <li><a href='{{ page_url({ "page": "list", "table": table }) }}' title='Ctrl+o' mousetrap='ctrl+o'>{{ table_name }}</a></li>
         {% if title == null %}
         <li><a href='{{ page_url({ "page": "edit", "table": table }) }}'>New</a></li>
         {% else %}
         <li><a href='{{ page_url({ "page": "show", "table": table, "id": id }) }}'>{{ title|raw }}</a></li>
         <li><a href='{{ page_url({ "page": "edit", "table": table, "id": id }) }}'>Edit</a></li>
         {% endif %}
      </ul>
    </div>
    &nbsp;
  </div>
	
  <div class='Content'>

  <form method='post'>
    {{ form|show() }}
    <input type='submit' value='Save' title='Ctrl+s' mousetrap='ctrl+s'>
    <input type='submit' name='delete' value='Delete'>
    <input type='text' name='message' placeholder='commit message'>
  </form>

  {% if id %}
  </br>
  <a class='LinkButton' href='{{ page_url({ "page": "show", "table": table,
	  "id": id }) }}'>Back</a>
  </br>
  {% else %}
  </br>
  <a class='LinkButton Margin' href='{{ page_url({ "page": "list", "table": table })
	  }}'>Back</a>
  </br>
  {% endif %}
  </br>

  </div>

  <div class='Panel'>
    <div class='Navigation'>
      <ul class='Breadcrumbs'>
         <li><a href='?' title='Ctrl+h' mousetrap='ctrl+h'>{{ app.title }}</a></li>
         <li><a href='{{ page_url({ "page": "list", "table": table }) }}' title='Ctrl+o' mousetrap='ctrl+o'>{{ table_name }}</a></li>
         {% if title == null %}
         <li><a href='{{ page_url({ "page": "edit", "table": table }) }}'>New</a></li>
         {% else %}
         <li><a href='{{ page_url({ "page": "show", "table": table, "id": id }) }}'>{{ title|raw }}</a></li>
         <li><a href='{{ page_url({ "page": "edit", "table": table, "id": id }) }}'>Edit</a></li>
         {% endif %}
      </ul>
    </div>
    &nbsp;
  </div>

</div>
