<div class='MainBox'>
{% include 'jump_links.html' %}

  <div class='Panel'>
    <div class='Navigation'>
      <ul class='Breadcrumbs'>
         <li><a href='?' title='Ctrl+h' mousetrap='ctrl+h'>{{ app.title }}</a></li>
         {% if table %}
         <li><a href='{{ page_url({ "page": "list", "table": table }) }}' title='Ctrl+o' mousetrap='ctrl+o'>{{ table_name }}</a></li>
         {% if id %}
         <li><a href='{{ page_url({ "page": "show", "table": table, "id": id }) }}'>{{ title|raw }}</a></li>
         <li><a href='{{ page_url({ "page": "history", "table": table, "id": id }) }}'>History</a></li>
         {% else %}
         <li><a href='{{ page_url({ "page": "history", "table": table }) }}'>History</a></li>
         {% endif %}
         {% else %}
         <li><a href='{{ page_url({ "page": "history" }) }}'>History</a></li>
         {% endif %}
      </ul>
    </div>
    &nbsp;
  </div>

  <div class='Content'>
{{ data|raw }}
  </div>

  <div class='Panel'>
    <div class='Navigation'>
      <ul class='Breadcrumbs'>
         <li><a href='?' title='Ctrl+h' mousetrap='ctrl+h'>{{ app.title }}</a></li>
         {% if table %}
         <li><a href='{{ page_url({ "page": "list", "table": table }) }}' title='Ctrl+o' mousetrap='ctrl+o'>{{ table_name }}</a></li>
         {% if id %}
         <li><a href='{{ page_url({ "page": "show", "table": table, "id": id }) }}'>{{ title|raw }}</a></li>
         <li><a href='{{ page_url({ "page": "history", "table": table, "id": id }) }}'>History</a></li>
         {% else %}
         <li><a href='{{ page_url({ "page": "history", "table": table }) }}'>History</a></li>
         {% endif %}
         {% else %}
         <li><a href='{{ page_url({ "page": "history" }) }}'>History</a></li>
         {% endif %}
      </ul>
    </div>
    &nbsp;
  </div>

</div>
