
<div class='MainBox'>

  <div class='Panel'>
    <div class='Navigation'>
      <ul class='Breadcrumbs'>
         <li><a href='?' title='Ctrl+h' mousetrap='ctrl+h'>{{ app.title }}</a></li>
      </ul>
    </div>
    <a class='LinkButton' href='{{ page_url({ 'page': 'admin' }) }}'>Configuration</a>
  </div>

  <div class='Content'>
    <ul>
    {% for table in data.tables %}
    <li>
    <a href='{{ page_url({'page':'list', 'table': table.id }) }}'>{{ table.name|default(table.id) }}</a>
    </li>
    {% endfor %}
    </ul>

  </div>

  <div class='Panel'>
    <div class='Navigation'>
      <ul class='Breadcrumbs'>
         <li><a href='?' title='Ctrl+h' mousetrap='ctrl+h'>{{ app.title }}</a></li>
      </ul>
    </div>
    <a class='LinkButton' href='{{ page_url({ 'page': 'admin' }) }}'>Configuration</a>
  </div>

</div>
