<div class='MainBox'>

  <div class='Panel'>
    Table View: <form method='get'>
    <input type='hidden' name='page' value='list'/>
    <input type='hidden' name='table' value='{{table}}'/>
    <select name='view' onchange='this.form.submit()'>
    {% for k, v in views %}
    <option value='{{ k }}'
    {% if param.view == k %}
     selected
    {% endif %}
    >{{ v.title }}</option>
    {% endfor %}
    </select>
    </form>
<a class='LinkButton' href='{{ page_url({ "page": "edit", "table": table }) }}' title='Ctrl+n' mousetrap='ctrl+n'>Create new entry</a>
    <a class='LinkButton' href='{{ page_url({ "page": "index"}) }}'>Home</a> 
    <a
      {% if filter_values|length > 0 %}
	class='LinkButton active'
      {% else %}
	class='LinkButton'
      {% endif %}
      href='javascript:show_filter()'>Filter</a> 

    {% include 'list_pager.html' %}
  </div>
  
  <div class='PanelH1'>
    Table: {{ table }}
  </div>

  <div id='Filter'
    {% if param.filter %}
    {% else %}
      class='hidden'
    {% endif %}
  >
  <form method='post'>
  {{ filter|show }}
  <input type='hidden' name='apply_filter' value='true' />
  <input type='submit' value='Apply filter'>
  </form>
  </div>

  <div class='table_wrapper'>
  {{ view|show_list() }}
  </div>

  <div class='Panel'>
    Table View: <form method='get'>
    <input type='hidden' name='page' value='list'/>
    <input type='hidden' name='table' value='{{table}}'/>
    <select name='view' onchange='this.form.submit()'>
    {% for k, v in views %}
    <option value='{{ k }}'
    {% if param.view == k %}
     selected
    {% endif %}
    >{{ v.title }}</option>
    {% endfor %}
    </select>
    </form>
    <a class='LinkButton' href='{{ page_url({ "page": "edit", "table": table }) }}'>Create new entry</a>
    <a class='LinkButton' href='{{ page_url({ "page": "index"}) }}'>Home</a> 
    {{ panel_items(param) }}
    {% include 'list_pager.html' %}
  </div>

</div>
<script type='text/javascript'>
function show_filter() {
  var div = document.getElementById("Filter");
  if(div.className == "hidden")
    div.className = "";
  else
    div.className = "hidden";
}
</script>
