<div class='MainBox'>

  <div class='Panel'>
    Table View: <form method='get'>
    <input type='hidden' name='page' value='list'/>
    <input type='hidden' name='table' value='{{table}}'/>
    <select name='view' onchange='this.form.submit()'>
    {% for k, v in views %}
    <option value='{{ k }}'
    {% if param.view == k %}
     selected
    {% endif %}
    >{{ v.title }}</option>
    {% endfor %}
    </select>
    </form>
<a class='LinkButton' href='{{ page_url({ "page": "edit", "table": table }) }}'>Create new entry</a>
    <a class='LinkButton' href='{{ page_url({ "page": "index"}) }}'>Home</a> 

    <a class='LinkButton' href='{{ page_url({ "page": "list", "table": table, "offset": 0 }) }}'>|◀</a>
    <a class='LinkButton' href='{{ page_url({ "page": "list", "table": table, "offset": max(0, param.offset - param.limit) }) }}'>◀</a>
    {{ param.offset }}-{{ min(result_count, param.offset + param.limit) }} / {{ result_count }}
    <a class='LinkButton' href='{{ page_url({ "page": "list", "table": table, "offset": min(result_count - result_count % param.limit, param.offset + param.limit) }) }}'>▶</a>
    <a class='LinkButton' href='{{ page_url({ "page": "list", "table": table, "offset": result_count - result_count % param.limit }) }}'>▶|</a>
  </div>
  
  <div class='PanelH1'>
    Table: {{ table }}
  </div>

  <div class='Filter'>
  <form method='post'>
  {{ filter|show }}
  <input type='submit' value='Apply filter'>
  </form>
  </div>

  <div class='table_wrapper'>
  {{ view|show_list() }}
  </div>

  <div class='Panel'>
    Table View: <form method='get'>
    <input type='hidden' name='page' value='list'/>
    <input type='hidden' name='table' value='{{table}}'/>
    <select name='view' onchange='this.form.submit()'>
    {% for k, v in views %}
    <option value='{{ k }}'
    {% if param.view == k %}
     selected
    {% endif %}
    >{{ v.title }}</option>
    {% endfor %}
    </select>
    </form>
    <a class='LinkButton' href='{{ page_url({ "page": "edit", "table": table }) }}'>Create new entry</a>
    <a class='LinkButton' href='{{ page_url({ "page": "index"}) }}'>Home</a> 
    <a class='LinkButton' href='{{ page_url({ "page": "history", "table": table }) }}'>History</a>
  </div>

</div>
