<div class='MainBox'>
{% include 'jump_links.html' %}

  <div class='Panel'>
    <div class='Navigation'>
      {% include 'list_pager.html' %}
      <ul class='Breadcrumbs'>
        <li><a href='{{ page_url({ "page": "index"}) }}' title='Ctrl+h' mousetrap='ctrl+h'>{{ app.title }}</a></li>
        <li><a href='{{ page_url({ "page": "list", "table": table }) }}'>{{ table_name }}</a></li>
      </ul>
    </div>
    View: <form id='choose_view' method='get'>
    <input type='hidden' name='page' value='list'/>
    <input type='hidden' name='table' value='{{table}}'/>
    <select name='view' onchange='this.form.submit()'>
    {% for k, v in views %}
    <option value='{{ k }}'
    {% if param.view == k %}
     selected
    {% endif %}
    >{{ v.title }}</option>
    {% endfor %}
    </select>
    </form>
<a class='LinkButton' href='{{ page_url({ "page": "edit", "table": table }) }}' title='Ctrl+n' mousetrap='ctrl+n'>Create new entry</a>
    <a
      {% if filter_values|length > 0 %}
	class='LinkButton active'
      {% else %}
	class='LinkButton'
      {% endif %}
      href='javascript:show_filter()'>Filter</a> 
    <a
      {% if table_fields_values|length > 0 %}
	class='LinkButton active'
      {% else %}
	class='LinkButton'
      {% endif %}
      href='javascript:show_table_fields()'>Fields</a>

    {{ panel_items(param) }}
  </div>
  
  <div id='Filter'
    {% if param.filter %}
    {% else %}
      class='hidden'
    {% endif %}
  >
  <form id='choose_filter' method='get'>
  <input type='hidden' name='page' value='list'/>
  <input type='hidden' name='table' value='{{table}}'/>
  {{ filter|show }}
  <input type='hidden' name='apply_filter' value='true' />
  <input type='submit' value='Apply filter'>
  </form>
  </div>

  <div id='Table_Fields'
    {% if param.table_fields %}
    {% else %}
      class='hidden'
    {% endif %}
  >
  <form method='get'>
  <input type='hidden' name='page' value='list'/>
  <input type='hidden' name='table' value='{{table}}'/>
  {{ table_fields|show }}
  <input type='hidden' name='apply_table_fields' value='true' />
  <input type='submit' value='Apply'>
  </form>
  </div>

  <div class='Content'>
  {{ view|show_list() }}
  </div>

  <div class='Panel'>
    <div class='Navigation'>
      {% include 'list_pager.html' %}
      <ul class='Breadcrumbs'>
        <li><a href='{{ page_url({ "page": "index"}) }}' title='Ctrl+h' mousetrap='ctrl+h'>{{ app.title }}</a></li>
        <li><a href='{{ page_url({ "page": "list", "table": table }) }}'>{{ table_name }}</a></li>
      </ul>
    </div>
    View: <form method='get'>
    <input type='hidden' name='page' value='list'/>
    <input type='hidden' name='table' value='{{table}}'/>
    <select name='view' onchange='this.form.submit()'>
    {% for k, v in views %}
    <option value='{{ k }}'
    {% if param.view == k %}
     selected
    {% endif %}
    >{{ v.title }}</option>
    {% endfor %}
    </select>
    </form>
<a class='LinkButton' href='{{ page_url({ "page": "edit", "table": table }) }}' title='Ctrl+n' mousetrap='ctrl+n'>Create new entry</a>
    <a
      {% if filter_values|length > 0 %}
	class='LinkButton active'
      {% else %}
	class='LinkButton'
      {% endif %}
      href='javascript:show_filter()'>Filter</a> 
    <a
      {% if table_fields_values|length > 0 %}
	class='LinkButton active'
      {% else %}
	class='LinkButton'
      {% endif %}
      href='javascript:show_table_fields()'>Fields</a>

    {{ panel_items(param) }}
  </div>

</div>
