<div class='Pager'>
{% if pager.first %} <a class='LinkButton' href='{{ page_url({ "page": "show", "table": table, "id": pager.first }) }}' title='First (Ctrl+Home)' mousetrap='ctrl+home'>|◀</a> {% endif %}
{% if pager.prev %} <a class='LinkButton' href='{{ page_url({ "page": "show", "table": table, "id": pager.prev }) }}' title='Previous (Ctrl+←)' mousetrap='ctrl+left'>◀</a> {% endif %}

{% if pager.index is empty %} ? {% else %} {{ pager.index + 1}} {% endif %}
/ {{ pager.result_count }}

{% if pager.next %} <a class='LinkButton' href='{{ page_url({ "page": "show", "table": table, "id": pager.next }) }}' title='Last (Ctrl+→)' mousetrap='ctrl+right'>▶</a> {% endif %}
{% if pager.last %} <a class='LinkButton' href='{{ page_url({ "page": "show", "table": table, "id": pager.last }) }}' title='Last (Ctrl+End)' mousetrap='ctrl+end'>▶|</a> {% endif %}
</div>
