
<div class='MainBox'>

  <div class='Panel'>
    <div class='Navigation'>
      {% include 'show_pager.html' %}
      <ul class='Breadcrumbs'>
         <li><a href='?' title='Ctrl+h' mousetrap='ctrl+h'>Home</a></li>
         <li><a href='{{ page_url({ "page": "list", "table": table }) }}' title='Ctrl+o' mousetrap='ctrl+o'>{{ table_name }}</a></li>
         <li><a href='{{ page_url({ "page": "show", "table": table, "id": id }) }}'>{{ title|raw }}</a></li>
      </ul>
    </div>
    View: <form method='get'>
    <input type='hidden' name='page' value='show'/>
    <input type='hidden' name='table' value='{{table}}'/>
    <input type='hidden' name='id' value='{{id}}'/>
    <select name='view' onchange='this.form.submit()'>
    {% for k, v in views %}
    <option value='{{ k }}'
    {% if param.view == k %}
     selected
    {% endif %}
    >{{ v.title }}</option>
    {% endfor %}
    </select>
    </form>
    <a class='LinkButton' href='{{ page_url({ "page": "edit", "table": table, "id": id }) }}' title='Ctrl+e' mousetrap='ctrl+e'>Edit</a>
    <a class='LinkButton' href='{{ page_url({ "page": "edit", "table": table }) }}' title='Ctrl+n' mousetrap='ctrl+n'>New</a>
    <a
      {% if filter_values|length > 0 %}
	class='LinkButton active'
      {% else %}
	class='LinkButton'
      {% endif %}
      href='javascript:show_filter()'>Filter</a> 
    {{ panel_items(param) }}
  </div>

  <div id='Filter'
    {% if param.filter %}
    {% else %}
      class='hidden'
    {% endif %}
  >
  <form method='post'>
  {{ filter|show }}
  <input type='hidden' name='apply_filter' value='true' />
  <input type='submit' value='Apply filter'>
  </form>
  </div>

  <div class='table_wrapper'>
  <h1>{{ title|raw }}</h1>
  {{ view|show() }}
  </div>

  <div class='Panel'>
    <div class='Navigation'>
      {% include 'show_pager.html' %}
      <ul class='Breadcrumbs'>
         <li><a href='?' title='Ctrl+h' mousetrap='ctrl+h'>Home</a></li>
         <li><a href='{{ page_url({ "page": "list", "table": table }) }}' title='Ctrl+o' mousetrap='ctrl+o'>{{ table_name }}</a></li>
         <li><a href='{{ page_url({ "page": "show", "table": table, "id": id }) }}'>{{ title|raw }}</a></li>
      </ul>
    </div>
    View: <form method='get'>
    <input type='hidden' name='page' value='show'/>
    <input type='hidden' name='table' value='{{table}}'/>
    <input type='hidden' name='id' value='{{id}}'/>
    <select name='view' onchange='this.form.submit()'>
    {% for k, v in views %}
    <option value='{{ k }}'
    {% if param.view == k %}
     selected
    {% endif %}
    >{{ v.title }}</option>
    {% endfor %}
    </select>
    </form>
    <a class='LinkButton' href='{{ page_url({ "page": "edit", "table": table, "id": id }) }}' title='Ctrl+e' mousetrap='ctrl+e'>Edit</a>
    <a class='LinkButton' href='{{ page_url({ "page": "edit", "table": table }) }}' title='Ctrl+n' mousetrap='ctrl+n'>New</a>
    <a
      {% if filter_values|length > 0 %}
	class='LinkButton active'
      {% else %}
	class='LinkButton'
      {% endif %}
      href='javascript:show_filter()'>Filter</a> 
    {{ panel_items(param) }}
  </div>

</div>
