{{ table }} / {{ id }}

{{ view|show('html-transposed') }}

<a href='{{ page_url({ "page": "edit", "table": table, "id": id }) }}'>Edit</a> |
<a href='{{ page_url({ "page": "list", "table": table }) }}'>Back</a>
|
View: <form method='get'>
<input type='hidden' name='page' value='show'/>
<input type='hidden' name='table' value='{{table}}'/>
<input type='hidden' name='id' value='{{id}}'/>
<select name='view' onchange='this.form.submit()'>
{% for k, v in views %}
<option value='{{ k }}'
{% if param.view == k %}
 selected
{% endif %}
>{{ v.title }}</option>
{% endfor %}
</select>
</form>
